@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@mixin buttonShadow($size) {
    -webkit-box-shadow: -$size $size 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -$size $size 0px 0px rgba(0, 0, 0, 1);
    box-shadow: -$size $size 0px 0px rgba(0, 0, 0, 1);
    margin-left: $size;
    border: 2px solid #000;

    &:hover {
        cursor: auto;
    }
}

@mixin imageShadow {
    border-radius: 3px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) transform;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    margin: 0 1em;
    box-sizing: border-box;
}

form {
    padding: 35px;
}

.header {
    display: flex;
}

button,
input {
    padding: 6px 10px;
    @include buttonShadow(10px);
}

.image-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(50px, 200px);
}

.image {
    background: #fff;
    padding: 3px;
    @include imageShadow;
}

.image:hover {
    transform: translateY(-2px);
}

.image img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image:nth-child(3n) {
    grid-column-end: span 2;
}
